/* /* body{
    background-color: rgb(180, 221, 245);
} */
/* .card-body{
    background-color: palegoldenrod;
    color: white;
    

}
.card-text{
    color: white;
} */ 
 body{
    background-color: rgb(46, 45, 45);
 }
.text-center{
    color: white;
    text-shadow: 1px 1px red;
    text-decoration: underline;
    font-style: italic;
    /* margin-top: 500px; */
}
.card-body{
    background-color: rgb(85, 84, 84);
    color:white;
}
.rty{
    color: white;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 1px 1px red;
}
.card{
    border-radius: 6px;
    box-shadow: 1px 1px red;
}
.card-title{
    text-shadow: 1px 1px red;
}